@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f9fafb; /* Gray 50 */
  --black: #111827; /* Gray 900 */
  --dark-purple: #7E22CE; /* Purple 700 */
  --gradient-purple: #7A5BF5; /* Not a tailwind color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--black);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--gradient-purple) var(--black);
  overflow-x: hidden;
}

.purple-backround
{
  background-color: rgba(122, 91, 245, 0.1); 
}

.black-gradient {
  background: linear-gradient(180deg, var(--black) 0%, rgba(122, 91, 245, 0.25) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.white-gradient {
  background: linear-gradient(180deg, var(--gradient-purple) 0%, var(--white) 100%);
}

.card-gradient {
  background: linear-gradient(180deg, var(--gradient-purple) 0%, rgba(249, 250, 251, 0.7) 100%);
}

.blackFlip-gradient {
  background: linear-gradient(180deg, rgba(122, 91, 245, 0.25) 0%, var(--black) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}